In [1]:
!pip install -U "psycopg[binary]"

Requirement already satisfied: psycopg[binary] in ./opt/anaconda3/lib/python3.9/site-packages (3.1.8)
Requirement already satisfied: typing-extensions>=4.1 in ./opt/anaconda3/lib/python3.9/site-packages (from psycopg[binary]) (4.3.0)
Requirement already satisfied: psycopg-binary<=3.1.8,>=3.1.6 in ./opt/anaconda3/lib/python3.9/site-packages (from psycopg[binary]) (3.1.8)

In [2]:
import psycopg, os

print('Connecting to the PostgreSQL database...')
conn = psycopg.connect(
    host="localhost",
    port='5432',
    dbname="my_db",
    user="postgres",
    password="123")

Connecting to the PostgreSQL database...

In [4]:
cur = conn.cursor()

In [2]:
import pandas as pd

df = pd.read_csv("/Users/zichenwang/Desktop/311.csv",low_memory = False)

In [3]:
df.head(5)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,57226364,04/05/2023 12:00:00 PM,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11218,509 DAHILL ROAD,...,NaN,NaN,40.635119,-73.979042,"(40.635118901262956, -73.97904166504387)",17620.0,2.0,2.0,27.0,39.0
1,57226938,04/05/2023 12:00:00 PM,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,10314,78 WINDHAM LOOP,...,NaN,NaN,40.578116,-74.161569,"(40.578115824455594, -74.16156948624995)",10700.0,30.0,1.0,9.0,75.0
2,57223783,04/05/2023 12:00:00 PM,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,11238,565 PROSPECT PLACE,...,NaN,NaN,40.675409,-73.958065,"(40.67540930181273, -73.95806521641663)",13829.0,16.0,2.0,48.0,49.0
3,57224480,04/05/2023 12:00:00 PM,NaN,DSNY,Department of Sanitation,Derelict Vehicles,Derelict Vehicles,Street,10040,552 WEST 188 STREET,...,NaN,NaN,40.853241,-73.929505,"(40.85324088877427, -73.92950492513339)",13098.0,47.0,4.0,39.0,22.0
4,57227166,04/05/2023 02:08:10 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11434,161-10 BAISLEY BOULEVARD,...,NaN,NaN,40.677234,-73.781098,"(40.67723435246815, -73.78109796926829)",24669.0,41.0,3.0,46.0,71.0

In [4]:
print(df.columns)

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location', 'Zip Codes', 'Community Districts',
       'Borough Boundaries', 'City Council Districts', 'Police Precincts'],
      dtype='object')

In [7]:
#sep 2022 to march 2023
selected_cols = ["Created Date",'Complaint Type','Borough']
df1 = df[selected_cols]

In [8]:
df1.head(5)

             Created Date       Complaint Type        Borough
0  04/05/2023 12:00:00 PM    Derelict Vehicles       BROOKLYN
1  04/05/2023 12:00:00 PM    Derelict Vehicles  STATEN ISLAND
2  04/05/2023 12:00:00 PM    Derelict Vehicles       BROOKLYN
3  04/05/2023 12:00:00 PM    Derelict Vehicles      MANHATTAN
4  04/05/2023 02:08:10 AM  Noise - Residential         QUEENS

In [9]:
import pandas as pd


df1 = df1.assign(Created_Date=pd.to_datetime(df1['Created Date'], format="%m/%d/%Y %I:%M:%S %p"))

mask = (df1['Created_Date'] >= '2022-09-01 00:00:00') & (df1['Created_Date'] <= '2023-03-01 23:45:00')

dff = df1[mask]

df2 = dff.sort_values('Created_Date')

df2.head(20)

,Created Date,Complaint Type,Borough,Created_Date
1794188,09/01/2022 12:00:00 AM,Food Poisoning,MANHATTAN,2022-09-01 00:00:00
1794187,09/01/2022 12:00:17 AM,Noise - Street/Sidewalk,BROOKLYN,2022-09-01 00:00:17
1794186,09/01/2022 12:00:25 AM,Noise - Street/Sidewalk,BROOKLYN,2022-09-01 00:00:25
1794185,09/01/2022 12:00:42 AM,Blocked Driveway,BRONX,2022-09-01 00:00:42
1794184,09/01/2022 12:00:57 AM,General Construction/Plumbing,QUEENS,2022-09-01 00:00:57
1794183,09/01/2022 12:01:19 AM,Outdoor Dining,MANHATTAN,2022-09-01 00:01:19
1794182,09/01/2022 12:01:38 AM,Illegal Parking,QUEENS,2022-09-01 00:01:38
1794181,09/01/2022 12:02:00 AM,Noise - Street/Sidewalk,BROOKLYN,2022-09-01 00:02:00
1794180,09/01/2022 12:02:22 AM,Blocked Driveway,QUEENS,2022-09-01 00:02:22
1794179,09/01/2022 12:02:27 AM,Homeless Person Assistance,BROOKLYN,2022-09-01 00:02:27
1794178,09/01/2022 12:02:39 AM,Illegal Parking,QUEENS,2022-09-01 00:02:39
1794177,09/01/2022 12:02:45 AM,Noise - Commercial,BROOKLYN,2022-09-01 00:02:45
1794176,09/01/2022 12:03:25 AM,Illegal Parking,QUEENS,2022-09-01 00:03:25
1794175,09/01/2022 12:03:30 AM,Noise - Residential,BROOKLYN,2022-09-01 00:03:30
1794174,09/01/2022 12:03:35 AM,Illegal Parking,QUEENS,2022-09-01 00:03:35
1794173,09/01/2022 12:03:38 AM,Noise - Residential,BROOKLYN,2022-09-01 00:03:38
1794172,09/01/2022 12:03:45 AM,Noise - Vehicle,BROOKLYN,2022-09-01 00:03:45
1794171,09/01/2022 12:03:54 AM,Noise - Residential,BROOKLYN,2022-09-01 00:03:54
1794170,09/01/2022 12:03:58 AM,Building/Use,QUEENS,2022-09-01 00:03:58
1794169,09/01/2022 12:03:59 AM,Homeless Person Assistance,MANHATTAN,2022-09-01 00:03:59

In [11]:
selected_cols = ['Complaint Type','Borough']
df2 = df2[selected_cols]

In [13]:
df2.head(20)

                        Complaint Type    Borough
1794188                 Food Poisoning  MANHATTAN
1794187        Noise - Street/Sidewalk   BROOKLYN
1794186        Noise - Street/Sidewalk   BROOKLYN
1794185               Blocked Driveway      BRONX
1794184  General Construction/Plumbing     QUEENS
1794183                 Outdoor Dining  MANHATTAN
1794182                Illegal Parking     QUEENS
1794181        Noise - Street/Sidewalk   BROOKLYN
1794180               Blocked Driveway     QUEENS
1794179     Homeless Person Assistance   BROOKLYN
1794178                Illegal Parking     QUEENS
1794177             Noise - Commercial   BROOKLYN
1794176                Illegal Parking     QUEENS
1794175            Noise - Residential   BROOKLYN
1794174                Illegal Parking     QUEENS
1794173            Noise - Residential   BROOKLYN
1794172                Noise - Vehicle   BROOKLYN
1794171            Noise - Residential   BROOKLYN
1794170                   Building/Use     QUEENS
1794169     Homeless Person Assistance  MANHATTAN

In [14]:
df2.to_csv('/Users/zichenwang/Desktop/311finalclean.csv', index=False)

In [16]:
len(df2)

1520877

In [ ]:
#grading by borough,top 3 complaints by borough and number by borough