### ETL Process for 311

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/erwinxaverius/opt/anaconda3/lib/python3.9/site-packages (2.9.6)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('311finalclean.csv',low_memory = False)

In [5]:
df

                        Complaint Type    Borough
0                       Food Poisoning  MANHATTAN
1              Noise - Street/Sidewalk   BROOKLYN
2              Noise - Street/Sidewalk   BROOKLYN
3                     Blocked Driveway      BRONX
4        General Construction/Plumbing     QUEENS
...                                ...        ...
1520872            Noise - Residential  MANHATTAN
1520873            Noise - Residential     QUEENS
1520874                          Noise   BROOKLYN
1520875                Illegal Parking     QUEENS
1520876               Blocked Driveway     QUEENS

[1520877 rows x 2 columns]

In [6]:
df1 = df.groupby(['Borough', 'Complaint Type'])['Complaint Type'].count()

In [7]:
df1

Borough      Complaint Type
BRONX        AHV Inspection Unit            4
             APPLIANCE                   3773
             Abandoned Bike                22
             Abandoned Vehicle           4435
             Adopt-A-Basket                10
                                         ...
Unspecified  Taxi Report                   12
             Traffic                        4
             Traffic Signal Condition      62
             Violation of Park Rules        2
             Water System                   1
Name: Complaint Type, Length: 931, dtype: int64

In [8]:
complaints_by_area = df1.groupby('Borough').sum()

In [9]:
complaints_by_area

Borough
BRONX            328814
BROOKLYN         461133
MANHATTAN        317820
QUEENS           348034
STATEN ISLAND     62799
Unspecified        2277
Name: Complaint Type, dtype: int64

In [10]:
type(complaints_by_area)

pandas.core.series.Series

In [11]:
summary = complaints_by_area.to_frame()

In [12]:
avg = summary['Complaint Type'].mean()

In [13]:
avg

253479.5

In [14]:
summary['normalized score'] = summary['Complaint Type']/avg

In [15]:
summary['rating'] = 1/summary['normalized score']

In [16]:
summary

               Complaint Type  normalized score      rating
Borough
BRONX                  328814          1.297202    0.770890
BROOKLYN               461133          1.819212    0.549688
MANHATTAN              317820          1.253829    0.797557
QUEENS                 348034          1.373026    0.728318
STATEN ISLAND           62799          0.247748    4.036362
Unspecified              2277          0.008983  111.321695

In [17]:
type(summary)

pandas.core.frame.DataFrame

In [18]:
summary = summary.drop("Unspecified")

In [19]:
summary

               Complaint Type  normalized score    rating
Borough
BRONX                  328814          1.297202  0.770890
BROOKLYN               461133          1.819212  0.549688
MANHATTAN              317820          1.253829  0.797557
QUEENS                 348034          1.373026  0.728318
STATEN ISLAND           62799          0.247748  4.036362

In [20]:
def grading(x):
    if x >= 0.75:
        return 'A'
    elif x >= 0.7:
        return 'A-'
    elif x >= 0.6:
        return 'B+'
    elif x >= 0.5:
        return 'B'
    elif x >= 0.4:
        return 'B-'
    else:
        return 'C'
summary['grading'] = summary['rating'].apply(grading)

In [21]:
summary.insert(0, 'Borough', range(1, 6))

In [22]:
summary

               Borough  Complaint Type  normalized score    rating grading
Borough
BRONX                1          328814          1.297202  0.770890       A
BROOKLYN             2          461133          1.819212  0.549688       B
MANHATTAN            3          317820          1.253829  0.797557       A
QUEENS               4          348034          1.373026  0.728318      A-
STATEN ISLAND        5           62799          0.247748  4.036362       A

In [23]:
complaints_by_area = df.groupby(['Borough', 'Complaint Type']).size().reset_index(name='Count')

def top_three_complaints(df):
    return df.nlargest(3, 'Count')

top_complaints_by_area = complaints_by_area.groupby('Borough').apply(top_three_complaints).reset_index(drop=True)

print(top_complaints_by_area)

          Borough                 Complaint Type  Count
0           BRONX                 HEAT/HOT WATER  65992
1           BRONX            Noise - Residential  55092
2           BRONX                Illegal Parking  35161
3        BROOKLYN                Illegal Parking  81257
4        BROOKLYN                 HEAT/HOT WATER  48921
5        BROOKLYN            Noise - Residential  39311
6       MANHATTAN                 HEAT/HOT WATER  39479
7       MANHATTAN            Noise - Residential  30493
8       MANHATTAN                Illegal Parking  27500
9          QUEENS                Illegal Parking  64336
10         QUEENS               Blocked Driveway  33869
11         QUEENS            Noise - Residential  28375
12  STATEN ISLAND                Illegal Parking   5266
13  STATEN ISLAND  Electronics Waste Appointment   5212
14  STATEN ISLAND              Missed Collection   4169
15    Unspecified           Broken Parking Meter    292
16    Unspecified                Illegal Parking    233
17    Unspecified         Street Light Condition    229

In [24]:
df_top3_complaints = top_complaints_by_area.sort_values(by=['Borough'])

In [25]:
df_top3_complaints

          Borough                 Complaint Type  Count
0           BRONX                 HEAT/HOT WATER  65992
1           BRONX            Noise - Residential  55092
2           BRONX                Illegal Parking  35161
3        BROOKLYN                Illegal Parking  81257
4        BROOKLYN                 HEAT/HOT WATER  48921
5        BROOKLYN            Noise - Residential  39311
7       MANHATTAN            Noise - Residential  30493
8       MANHATTAN                Illegal Parking  27500
6       MANHATTAN                 HEAT/HOT WATER  39479
9          QUEENS                Illegal Parking  64336
10         QUEENS               Blocked Driveway  33869
11         QUEENS            Noise - Residential  28375
12  STATEN ISLAND                Illegal Parking   5266
13  STATEN ISLAND  Electronics Waste Appointment   5212
14  STATEN ISLAND              Missed Collection   4169
16    Unspecified                Illegal Parking    233
15    Unspecified           Broken Parking Meter    292
17    Unspecified         Street Light Condition    229

In [26]:

# Create a sample DataFrame


# Group the data by Borough, create a list of unique Complaint Types for each borough, and sum the Count values for each borough
result = df_top3_complaints.groupby('Borough').agg({
    'Complaint Type': lambda x: list(set(x)),
    'Count': 'sum'
}).reset_index()

In [27]:
result

         Borough                                     Complaint Type   Count
0          BRONX  [Illegal Parking, Noise - Residential, HEAT/HO...  156245
1       BROOKLYN  [Illegal Parking, Noise - Residential, HEAT/HO...  169489
2      MANHATTAN  [Illegal Parking, Noise - Residential, HEAT/HO...   97472
3         QUEENS  [Illegal Parking, Blocked Driveway, Noise - Re...  126580
4  STATEN ISLAND  [Illegal Parking, Missed Collection, Electroni...   14647
5    Unspecified  [Illegal Parking, Street Light Condition, Brok...     754

In [28]:
result = result[result['Borough'] != 'Unspecified']

In [29]:
result

         Borough                                     Complaint Type   Count
0          BRONX  [Illegal Parking, Noise - Residential, HEAT/HO...  156245
1       BROOKLYN  [Illegal Parking, Noise - Residential, HEAT/HO...  169489
2      MANHATTAN  [Illegal Parking, Noise - Residential, HEAT/HO...   97472
3         QUEENS  [Illegal Parking, Blocked Driveway, Noise - Re...  126580
4  STATEN ISLAND  [Illegal Parking, Missed Collection, Electroni...   14647

In [30]:
summary

               Borough  Complaint Type  normalized score    rating grading
Borough
BRONX                1          328814          1.297202  0.770890       A
BROOKLYN             2          461133          1.819212  0.549688       B
MANHATTAN            3          317820          1.253829  0.797557       A
QUEENS               4          348034          1.373026  0.728318      A-
STATEN ISLAND        5           62799          0.247748  4.036362       A

In [31]:
summary = summary.loc[:, ['Borough', 'grading']]

In [32]:
summary

               Borough grading
Borough
BRONX                1       A
BROOKLYN             2       B
MANHATTAN            3       A
QUEENS               4      A-
STATEN ISLAND        5       A

In [33]:
# Store the index to a list
borough_list = summary.index.tolist()

In [34]:
summary = summary.reset_index(drop=True)

In [35]:
summary

   Borough grading
0        1       A
1        2       B
2        3       A
3        4      A-
4        5       A

In [36]:
summary['Borough'] = summary['Borough'].replace(range(1, 6), borough_list)

In [37]:
summary

         Borough grading
0          BRONX       A
1       BROOKLYN       B
2      MANHATTAN       A
3         QUEENS      A-
4  STATEN ISLAND       A

In [38]:
merged_df = result.merge(summary, on='Borough')

In [39]:
merged_df

,Borough,Complaint Type,Count,grading
0,BRONX,"[Illegal Parking, Noise - Residential, HEAT/HO...",156245,A
1,BROOKLYN,"[Illegal Parking, Noise - Residential, HEAT/HO...",169489,B
2,MANHATTAN,"[Illegal Parking, Noise - Residential, HEAT/HO...",97472,A
3,QUEENS,"[Illegal Parking, Blocked Driveway, Noise - Re...",126580,A-
4,STATEN ISLAND,"[Illegal Parking, Missed Collection, Electroni...",14647,A

In [40]:
merged_df.columns = ['Borough', 'Top Three Complaints','Total Complaints','Grading']

In [41]:
merged_df

,Borough,Top Three Complaints,Total Complaints,Grading
0,BRONX,"[Illegal Parking, Noise - Residential, HEAT/HO...",156245,A
1,BROOKLYN,"[Illegal Parking, Noise - Residential, HEAT/HO...",169489,B
2,MANHATTAN,"[Illegal Parking, Noise - Residential, HEAT/HO...",97472,A
3,QUEENS,"[Illegal Parking, Blocked Driveway, Noise - Re...",126580,A-
4,STATEN ISLAND,"[Illegal Parking, Missed Collection, Electroni...",14647,A

In [42]:
merged_df = merged_df [['Borough','Total Complaints','Top Three Complaints','Grading']]

In [43]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Borough               5 non-null      object
 1   Total Complaints      5 non-null      int64
 2   Top Three Complaints  5 non-null      object
 3   Grading               5 non-null      object
dtypes: int64(1), object(3)
memory usage: 200.0+ bytes

In [44]:
merged_df['Borough'] = merged_df['Borough'].replace({'BRONX': 'Bronx', 
                                       'BROOKLYN': 'Brooklyn', 
                                       'MANHATTAN': 'Manhattan', 
                                       'QUEENS': 'Queens', 
                                       'STATEN ISLAND': 'Staten Island'})

In [45]:
# write the merged dataframe to a CSV file
#merged_df.to_csv('311_by_boroughs.csv', index=False)

In [46]:
import pandas as pd
from sqlalchemy import create_engine

In [47]:
#define connection
conn_url = 'postgresql://postgres:123@localhost/5400'
#create engine 
engine = create_engine(conn_url)
connection = engine.connect()

In [49]:
# Pass the SQL statements that create all tables
stmt = """
create table borough_311(
	borough varchar(50),
	num_complaints int,
    top3_complaints varchar(200),
    grading varchar(5),
	primary key (borough)
);
"""
# Execute the statement to create tables
connection.execute(stmt)

In [50]:
merged_df = merged_df.rename(columns={
    'Borough': 'borough',
    'Total Complaints': 'num_complaints',
    'Top Three Complaints': 'top3_complaints',
    'Grading': 'grading'
})
merged_df

,borough,num_complaints,top3_complaints,grading
0,Bronx,156245,"[Illegal Parking, Noise - Residential, HEAT/HO...",A
1,Brooklyn,169489,"[Illegal Parking, Noise - Residential, HEAT/HO...",B
2,Manhattan,97472,"[Illegal Parking, Noise - Residential, HEAT/HO...",A
3,Queens,126580,"[Illegal Parking, Blocked Driveway, Noise - Re...",A-
4,Staten Island,14647,"[Illegal Parking, Missed Collection, Electroni...",A

In [51]:
#import data to area_rating
borough_311 = merged_df[['borough','num_complaints','top3_complaints','grading']]
#import to sql
borough_311.to_sql(name='borough_311', con=engine, if_exists='append', index=False)

5

### ETL Process for Zillow

In [ ]:
#zillow data
zillow = pd.read_csv('Zillowavg_final.csv')

In [ ]:
zillow = zillow.rename(columns={
    'Unnamed: 0': 'id',
    'City': 'city',
    'RegionName': 'region_name',
    'Borough': 'borough',
    'Neighborhood': 'neighborhood',
    'AvgRentalPrice_2022': 'avg_rentalprice_2022',
    'RecentRentalPrice': 'recent_rental_price',
    'normalized': 'normalized',
    'Longitude': 'longitude',
    'Latitude': 'latitude',
    'A_rating': 'area_rating',
})
zillow.head()

In [ ]:
# Pass the SQL statements that create locations
stmt = """
create table zillow(
    id int,
    city varchar(50),
    region_name int,
    borough varchar(500),
    neighborhood varchar(500),
    avg_rentalprice_2022 float,
    recent_rental_price float,
    normalized float,
	latitude float,
	longitude float,
	area_rating varchar(50),
	primary key (id)
);
"""
# Execute the statement to create tables
connection.execute(stmt)

In [ ]:
#import data to area_rating
zillow = zillow[['id','city','region_name','borough','neighborhood','avg_rentalprice_2022','recent_rental_price','normalized','latitude','longitude','area_rating']]
#import to sql
zillow.to_sql(name='zillow', con=engine, if_exists='append', index=False)